.buttonRow {
  overflow: auto;
  white-space: nowrap;
  padding: 22px;
  margin-left: -22px;
  margin-right: -22px;
  margin-bottom: -22px;
  min-height: 110px; /* Set normalized height for non-scrolling controls */
}

